---
import Layout from "../componentes/layout.astro"
---

<Layout>
    
</Layout>
<title>Crear una cuenta</title>
<nav>
    <div class="mercado">MERCADOS EL PORVENIR</div>
    <a href="http://localhost:4321/" class="iniciarsecion">inicio</a>
</nav>
<section>
    <div>
        <h2>crear usuario</h2>
        <form>
            <label for="nombre completo"></label>
            <input type="text" id="nombre completo" name="usuario" placeholder="nombre completo" required><br><br>

            <label for="usuario"></label>
            <input type="text" id="nickname" name="usuario" placeholder="usuario" required><br><br>
            
            <label for="contrassena"></label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required><br><br>

            <input  class="boton" type="submit" value="crear usuario">
        </form>
    </div> 
</section>
<style></style>
<style>
    h2{
        text-align: center;
        font-family: arial, sans-serif;
        color: #F2E3D5;
        text-transform: uppercase;
        font-size: 30px;
    }
    nav{
        grid-template-columns:auto;
        grid-template-rows: auto;
        grid-template-columns: 5;
        grid-template-rows: 1;
        display: grid;
        background-color: #026773;
    }
    .mercado{
        grid-row: 1;
        grid-column: 1/4;
        text-align: center; 
        color:#F2E3D5 ;
        font-size: 50px;
        font-weight: bold;
        font-family: arial,sans-serif;
    }
    a{
        grid-row: 1;
        grid-column: 4;
        text-align: center; 
        color:#F2E3D5 ;
        font-size: 20px;
        background-color: #3CA6A6;
        border-radius: 7px;
        padding-top: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 100px;
        margin-right: 50px;
    }
    form{
        text-align: center;
    }
    section{
        grid-template-columns: auto;
        grid-template-rows: auto;
        display: grid;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        align-self: center;
    }
    input{
        background-color: #F2E3D5;
        color: #012E40;
        border: none;
        width: 300px;
        height: 50px;
        font-size: 30px;
    }
    .boton{
        font-weight: bold;
        font-family: arial,sans-serif;
    }
</style>