---
import Layout from "../componentes/layout.astro"
---
<!-- move dist\crearusuario dist\iniciarsecion\  -->
<Layout>

</Layout>
<link rel="shortcut icon" href="img/pixil.png" type="image/x-icon">
<title>Mercados el Porvenir</title>
<nav style="display: grid; grid-template-columns: auto; grid-template-rows: auto;  background-color: #026773">
    <div style="   grid-row: 1;  grid-column: 1/4; text-align: center;  color:#F2E3D5;   font-size: 50px;  font-weight: bold;  font-family: arial,sans-serif;">MERCADOS EL PORVENIR</div>
    <a style="grid-row: 1; grid-column: 4;  text-align: center;  color:#F2E3D5 ; font-size: 20px;  background-color: #3CA6A6;    border-radius: 7px; padding-top: 5px;  margin-top: 10px;  margin-bottom: 10px;  margin-left: 100px;  margin-right: 50px;" href="iniciarsecion" class="iniciarsecion">iniciar secion</a>
</nav>
<section>
    <h1 class="titulo">productos</h1>
    <img class="b1" src="img/banana.jpg" alt="banana">
            <p class="a1">banana</p>
            <img class="b2" src="img/durasno.jpg" alt="durasno">
            <p class="a2">durasno</p>
            <img class="b3" src="img/limon.jpg" alt="limon">
            <p class="a3">limon</p>
            <img class="b4" src="img/lulo.jpg" alt="lulo">
            <p class="a4">lulo</p>
            <img class="b5" src="img/manzana.jpg" alt="manzana">
            <p class="a5">manazana</p>
            <img class="b6" src="img/pera.jpg" alt="pera">
            <p class="a6">pera</p>
            <img class="b7" src="img/pina.jpg" alt="pina">
            <p class="a7">pina</p>
            <img class="b8" src="img/ahuyama.jpg" alt="ahuyama">
            <p class="a8">ahuyama</p>
            <img class="b9" src="img/cebolla_cabezona.jpg" alt="cebolla_cabezona">
            <p class="a9">cebolla cabezona</p>
            <img class="b10" src="img/cebolla_larga.jpg" alt="cebolla_larga">
            <p class="a10">cebolla larga</p>
            <img class="b11" src="img/tomate.jpg" alt="tomate">
            <p class="a11">tomate</p>
            <img class="b12" src="img/zukiny.jpg" alt="zukiny">
            <p class="a12">zukiny</p>
</section>
<section class="comentari0">
    <h1>COMENTARIO</h1>
        <div class="comentario">
            <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem id vel quod error repellendus expedita beatae facere laborum. Repellat nihil, velit error fuga aperiam consequatur corporis incidunt saepe laudantium, tenetur reprehenderit, harum omnis dolorum quae ipsa cum nam? Voluptates sed nesciunt modi obcaecati ipsum repudiandae dolorum, voluptate beatae culpa nobis. ipsum dolor sit, amet consectetur adipisicing elit. Quod, rerum alias neque mollitia deleniti, dolore repellendus, minus quae officiis facilis exercitationem eos sed commodi nobis dicta illum ratione culpa eum?
            </br>
        </div>
        <div class="correo">
            <br>Lorem ipsum dolor sit amet, consectetur adipisicing.</br>
        </div>
        <div class="boton">
            <input type="submit" value="ENVIAR">
        </div>
        <div class="barraabajo">
        </div>
</section>
<style>
    .barraabajo{
        grid-column: 1/4;
        grid-row: 4;
        height: 20px;
    }
    body{
		background-color: #012E40;
	}
    section{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    .titulo{
        text-align: center;
        font-family: arial,sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #F2E3D5;
        background-color: #026773;
        text-transform: uppercase;
        grid-row: 1;
        grid-column: 1/5;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .a1{
    grid-column: 1/2;
    grid-row: 3;
    text-align: center;
    font-size: 30px;
    background-color:#024959 ;
    }
    .a2{
        grid-column: 2/3;
        grid-row: 3;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a3{
        grid-column: 3/4;
        grid-row: 3;
        text-align: center;
        font-size: 30px;
    background-color:#024959 ;
    }
    .a4{
        grid-column: 4/5;
        grid-row: 3;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a5{
        grid-column: 1/2;
        grid-row: 5;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a6{
        grid-column: 2/3;
        grid-row: 5;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a7{
        grid-column: 3/4;
        grid-row: 5;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a8{
        grid-column: 4/5;
        grid-row: 5;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a9{
        grid-column: 4/5;
        grid-row: 7;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a10{
        grid-column: 1/2;
        grid-row: 7;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a11{
        grid-column: 3/4;
        grid-row: 7;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
    .a12{
        grid-column: 2/3;
        grid-row: 7;
        text-align: center;
        font-size: 30px;
        background-color:#024959 ;
    }
.b1{
    grid-column: 1/2;
    grid-row: 2;
}
.b2{
    grid-column: 2/3;
    grid-row: 2;
}
.b3{
    grid-column: 3/4;
    grid-row: 2;
}
.b4{
    grid-column: 4/5;
    grid-row: 2;
}
.b5{
    grid-column: 1/2;
    grid-row: 4;

}
.b6{
    grid-column: 2/3;
    grid-row: 4;
}
.b7{
    grid-column: 3/4;
    grid-row: 4;
}
.b8{
    grid-column: 4/5;
    grid-row: 4;
}
.b9{
    grid-column: 4/5;
    grid-row: 6;
}
.b10{
    grid-column: 1/2;
    grid-row: 6;
}
.b11{
    grid-column: 3/4;
    grid-row: 6;
}
.b12{
    grid-column: 2/3;
    grid-row: 6;
}     
img{
    height: 150px;
    margin-right: 40px;
    margin-left: 40px;
    width: 285px;
}
p{
    font-size: 30px;
    color: #F2E3D5;
    margin-left: 40px;
    margin-right: 40px;
    font-family: "arial", sans-serif;
    margin-top: 0px;
}
.comentario{
    background-color: #024959;
    padding: 10px 20px 10px 20px;
    grid-column:1/3;
    grid-row: 2/4; 
    font-family: "Arial", sans-serif;
    font-size: 20px; 
    text-align: justify;
    color: #F2E3D5;
    margin-left: 10px;
    margin-right: 5px;
}
.correo{
    background-color: #026773;
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: "Arial", sans-serif;
    font-size: 20px; 
    text-align: center;
    padding: 10px 20px 10px 20px;
    color: #F2E3D5;
    margin-right: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.boton{
    grid-column: 3/4;
    grid-row: 3;
    align-items: center;
    margin-left: 5px;
    margin-right: 10px;
}
input{
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 100%;
    font-size: 30px; 
    color: #012E40;
    background-color: #F2E3D5;

}
h1{
    background-color:#F2E3D5;
    grid-column: 1/5 ; 
    grid-row: 1;
    padding: 20px 10px 10px 10px;
    color: #026773;
    font-family: "Arial", sans-serif;
    text-align: center;
    margin-left: 20px;  
    margin-right: 20px;
}
</style>
