<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <nav>

    </nav>
</header>
<body>
    
</body>
</html>
<style>
	body{
		background-color: #012E40;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 1px;
	}
</style>